#header {
  height: var(--lumo-size-xl);
  background-color: #1a1a1a;
  font-size: var(--lumo-font-size-xl);
}

h1 {
  font-size: var(--lumo-font-size-xl);
}

h2 {
  font-size: var(--lumo-font-size-xl);
}

h3 {
  font-size: var(--lumo-font-size-l);
}

h4 {
  font-size: var(--lumo-font-size-m);
}

#header img#logo {
  height: var(--lumo-size-l);
  margin: 0 var(--lumo-space-s);
}
#header img#avatar {
  border-radius: 50%;
  height: var(--lumo-size-s);
  margin-right: var(--lumo-space-m);
  overflow: hidden;
  margin-left: auto;
  background-color: #1a1a1a;
}

body {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%
  /*max-width: 90%;*/
}