html {
    --lumo-line-height-m: 1.4;
    --lumo-line-height-s: 1.2;
    --lumo-line-height-xs: 1.1;
    --lumo-size-xl: 3rem;
    --lumo-size-l: 2.5rem;
    --lumo-size-m: 2rem;
    --lumo-size-s: 1.75rem;
    --lumo-size-xs: 1.5rem;
    --lumo-space-xl: 1.875rem;
    --lumo-space-l: 1.25rem;
    --lumo-space-m: 0.625rem;
    --lumo-space-s: 0.3125rem;
    --lumo-space-xs: 0.1875rem;
}

[theme~="dark"] {
    --lumo-shade-5pct: rgba(44, 38, 22, 0.05);
    --lumo-shade-10pct: rgba(44, 38, 22, 0.1);
    --lumo-shade-20pct: rgba(44, 38, 22, 0.2);
    --lumo-shade-30pct: rgba(44, 38, 22, 0.3);
    --lumo-shade-40pct: rgba(44, 38, 22, 0.4);
    --lumo-shade-50pct: rgba(44, 38, 22, 0.5);
    --lumo-shade-60pct: rgba(44, 38, 22, 0.6);
    --lumo-shade-70pct: rgba(44, 38, 22, 0.7);
    --lumo-shade-80pct: rgba(44, 38, 22, 0.8);
    --lumo-shade-90pct: rgba(44, 38, 22, 0.9);
    --lumo-error-text-color: rgb(255, 0, 0);
    --lumo-error-color-50pct: rgba(255, 0, 0, 0.5);
    --lumo-error-color-10pct: rgba(255, 0, 0, 0.1);
    --lumo-success-text-color: rgb(84, 222, 110);
    --lumo-success-color-50pct: rgba(84, 222, 110, 0.5);
    --lumo-success-color-10pct: rgba(84, 222, 110, 0.1);
    --lumo-shade: hsl(42, 33%, 13%);
    --lumo-error-color: #ff0000;
    --lumo-success-color: #54DE6E;
    --lumo-success-contrast-color: #1a1a1a;
    --lumo-tint-5pct: rgba(244, 238, 225, 0.05);
    --lumo-tint-10pct: rgba(244, 238, 225, 0.1);
    --lumo-tint-20pct: rgba(244, 238, 225, 0.2);
    --lumo-tint-30pct: rgba(244, 238, 225, 0.3);
    --lumo-tint-40pct: rgba(244, 238, 225, 0.4);
    --lumo-tint-50pct: rgba(244, 238, 225, 0.5);
    --lumo-tint-60pct: rgba(244, 238, 225, 0.6);
    --lumo-tint-70pct: rgba(244, 238, 225, 0.7);
    --lumo-tint-80pct: rgba(244, 238, 225, 0.8);
    --lumo-tint-90pct: rgba(244, 238, 225, 0.9);
    --lumo-base-color: #1a1a1a;
    --lumo-tint: #f4eee1;
    --lumo-header-text-color: #fffacd;
    --lumo-error-contrast-color: #1a1a1a;
    --lumo-primary-contrast-color: #1a1a1a;
    --lumo-primary-text-color: #ffed4d;
    --lumo-primary-color-50pct: rgba(255, 237, 77, 0.5);
    --lumo-primary-color-10pct: rgba(255, 237, 77, 0.1);
    --lumo-primary-color: #ffed4d;
    --lumo-body-text-color: #fffacd;
}